Source: libzmq-constants-perl
Section: perl
Priority: optional
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: perl
Standards-Version: 3.9.6
Homepage: https://metacpan.org/release/ZMQ-Constants

Package: libzmq-constants-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Perl module that provides libzmq constants
 ØMQ is a library which extends the standard socket interfaces with features
 traditionally provided by specialised messaging middleware products.
 .
 ØMQ sockets provide an abstraction of asynchronous message queues, multiple
 messaging patterns, message filtering (subscriptions), seamless access to
 multiple transport protocols and more.
 .
 ZMQ::Constants provides the constants exported by libzmq to Perl code.
